<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AntennaBuilder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>AntennaBuilder_automoc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A68E21568014F37989E19DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2423EA1D5531483D967C43B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63F6997D026846BD885E1205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>643876E6508E48A9A8799410</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>872588FD114D49C3A8CC50B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3E054878F944E98B6CA4082</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC3FE5C980B644489C7C00D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0F7757D18C7480E8FC7A7E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
